APP_NAME=AccurateA
APP_ENV=development
DEBUG=True
DATABASE_URL=postgresql://user:password@localhost:5432/dbname
SECRET_KEY=abc
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
OPENAI_API_KEY=abc
PINECONE_API_KEY=abc
PINECONE_ENVIRONMENT=abc