# Application
APP_NAME=AccurateA
APP_ENV=development
DEBUG=True

# Database
DATABASE_URL=postgresql://user:password@host/database

# Security
SECRET_KEY=secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# OpenAI
OPENAI_API_KEY=sk-key

# Pinecone
PINECONE_API_KEY=pinecone_api_key
PINECONE_ENVIRONMENT=default
PINECONE_INDEX_NAME=PINECONE_INDEX_NAME

PLAID_CLIENT_ID=PLAID_CLIENT_ID
PLAID_SECRET=PLAID_SECRET
# sandbox, development, or production
PLAID_ENVIRONMENT=PLAID_ENVIRONMENT
PLAID_PRODUCTS=PLAID_PRODUCTS
PLAID_COUNTRY_CODES=US,CA
PLAID_RECOVERY_CODE=PLAID_RECOVERY_CODE

# URLs
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000

# Gmail API (Get from Google Cloud Console)
GMAIL_CLIENT_ID=GMAIL_CLIENT_ID
GMAIL_CLIENT_SECRET=GMAIL_CLIENT_SECRET
GMAIL_REDIRECT_URI=http://localhost:8000/email/oauth-callback

# Dedicated Email Inbox (for auto-forwarding option)
RECEIPT_EMAIL_HOST=imap.gmail.com
RECEIPT_EMAIL_PORT=993
RECEIPT_EMAIL_ADDRESS=RECEIPT_EMAIL_ADDRESS@accuratea.com
RECEIPT_EMAIL_PASSWORD=RECEIPT_EMAIL_PASSWORD

# Email Processing
EMAIL_CHECK_INTERVAL=300  # 5 minutes